/* Mobile First  */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	color: #4a4a4a;
	font-family: 'Rubik', sans-serif;
	background-color: #fafafa;
	text-align: center;
	margin: 0 auto;
}

h1,
h2,
h3,
a {
	font-family: 'Maven Pro', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 2px solid #fff;
}

a:hover { 
    border-bottom: 2px solid;
}

a:active { 
    border-bottom: 2px solid #D68910;
    color: #D68910;
}

nav a{
	display: block;
	text-align: center;
	background-color: #fff;
	padding: 10px;
	margin: 5px;
}

header {
	width: 100%;
	padding: 15px;
	display: block;
	background-color: #2E86C1;
	margin: 0 auto;
}

h1 {
	color: #fff;
}

h2 {
	display: block;
}

h3 {
	margin-top: 2em;
}

p {
	line-height: 1.5em;
}

ul {
	display: inline;
	float: right;
	margin: 30px 15px;
	list-style-type: none;
}

li {
	margin-left: 30px;
}

footer {
	margin: auto;
}

footer h3 {
	display: inline-block;
	margin: 25px 15px;
	float: left;
	font-weight: bold;
}

.name {
	display: block;
	text-decoration: none;
}

.banner {
	margin: 15px auto;
}

.marquee-text {
	width: 100%;
	text-align: center;
}

.header-container {
	margin: auto;
}

.header-image {
	width: 75%;
	margin: 20px;
}

.content-1 {
	background-color: #fff;
	padding: 15px;
	margin: auto;
}

.content-2 {
	background-color: #F5f5f5;
	padding: 15px;
	margin: auto;
}

.project {
	width: 100%;
	padding: 15px;
}

.portfolio-image {
	width: 100%;
}

.skills-image {
	width: 100%;
	border-radius: 50%;
}

.skill-1,
.skill-2,
.skill-3,
.skill-4,
.skill-5,
.skill-6 {
  	position: relative;
  	width: 50%;
  	background-color: #CB4335;
  	margin: auto;
  	border-radius: 50%;
}

.skill-2 {
	background-color: #D68910;
}

.skill-3 {
	background-color: #D4AC0D;
}

.skill-4 {
	background-color: #17A589;
}

.skill-5 {
	background-color: #2E86C1;
}

.skill-6 {
	background-color: #884EA0;
}

.skill-1:after,
.skill-2:after,
.skill-3:after,
.skill-4:after,
.skill-5:after,
.skill-6:after {
	content: "";
  	display: block;
  	padding-bottom: 100%;
}

.skill-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	width: 50%;
}

.content-3 {
	border-bottom: solid 1px rgba(0, 0, 0, .3);
	padding: 60px 0;
	margin: 15px auto;
}

.desktop {
	display: none;
}

/* Tablet */

@media (min-width: 768px) {

	header {
		color: #fff;
	}

	nav a{
		display: inline-block;
		background-color: inherit;
		border: none;
	}

	.marquee-text {
		text-align: left;
		padding: 15px;
	}

	.header-image {
		width: 40%;
		float: right;
		margin: 15px;
	}

	.project {
		width: 50%;
		height: 440px;
		float: left;
	}

	.content-3 p {
		padding: 0 15%;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: initial;
	}

}

/* Desktop */

@media (min-width: 1024px) {

	.header-container,
	.banner,
	.content-1,
	.content-2,
	.content-3,
	footer {
		max-width: 1024px;
		overflow: hidden;
	}

	header {
		position: fixed;
		top: 0;
		z-index: 1000;	
	}

	nav {
		display: inline-block;
		text-align: right;
		float: right;
		padding-top: 20px;
	}

	nav a{
		text-align: right;
	}

	.header-image{
		margin-left: 50px;
	}

	.name {
		display: inline-block;
		float: left;
	}

	.banner {
		padding-top: 109px;
	}

	.project {
		width: 33.33%;
	}

}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}